.form-textarea {
  margin-bottom: 20px;
}
.form-textarea__label {
  margin-bottom: 5px;
}
.form-textarea--error {
  color: #d15353;
  font-size: 12px;
  padding-left: 5px;
  position: absolute;
}

.form-textarea .ui.fluid.textarea > input{
  height: 40px;
}